* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: grey;

}

#box {
    background-color: blue;
    padding: 10px;
    border: 5px solid black;
    width: 200px;
    margin-top: 50px;
    height: 50px;
    overflow: auto;

}

#content {
    background-color: lightgreen;

}

h1 {
    margin-bottom: 30px;
}